body{
font-size: 20px;
font-style: italic;
font-family: Verdana, Helvetica, Arial, sans-serif;
background-image: url(../Image/photo1661527361.jpeg);
opacity: 0.5;
background-repeat: no-repeat; 
background-position: top center;
background-attachment: fixed;
}
