body{
font-size: 50px;
font-family: Verdana, Helvetica, Arial, sans-serif;
background-image: Image/ecoposter.jpg;
background-repeat: no-repeat; 
background-position: top center;
background-attachment: fixed;
}
